USE [master]
GO
/****** Object:  Database [ElectionDB]    Script Date: 5/16/2024 10:00:33 PM ******/
CREATE DATABASE [ElectionDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ElectionDB', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ElectionDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ElectionDB_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ElectionDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElectionDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElectionDB]
GO
/****** Object:  Table [dbo].[app_user]    Script Date: 5/16/2024 10:00:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[app_user](
	[username] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[email] [varchar](50) NULL,
	[address] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidates]    Script Date: 5/16/2024 10:00:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OfficeName] [nvarchar](255) NOT NULL,
	[DistrictNameAndNumber] [nvarchar](255) NOT NULL,
	[CandidateLastName] [nvarchar](255) NOT NULL,
	[CandidateFirstName] [nvarchar](255) NOT NULL,
	[PoliticalParty] [nvarchar](255) NOT NULL,
	[CandidateStatus] [nvarchar](255) NOT NULL,
	[PublicPhone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Website] [nvarchar](255) NULL,
	[Facebook] [nvarchar](255) NULL,
	[Twitter] [nvarchar](255) NULL,
	[Other] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidatesByUser]    Script Date: 5/16/2024 10:00:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidatesByUser](
	[username] [varchar](20) NOT NULL,
	[candidateId] [int] NOT NULL,
	[notes] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC,
	[candidateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[representatives]    Script Date: 5/16/2024 10:00:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[representatives](
	[name] [varchar](75) NOT NULL,
	[party] [varchar](50) NULL,
	[phones] [varchar](70) NULL,
	[urls] [varchar](500) NULL,
	[emails] [varchar](200) NULL,
	[office] [varchar](100) NULL,
	[photoUrl] [varchar](250) NULL,
	[divisionId] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CandidatesByUser]  WITH CHECK ADD FOREIGN KEY([candidateId])
REFERENCES [dbo].[Candidates] ([Id])
GO
ALTER TABLE [dbo].[CandidatesByUser]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[app_user] ([username])
GO
USE [master]
GO
