@page "/FindMyDistrict"
@inherits LayoutComponentBase
@using ElectionAppLibrary.Models
@inject NavigationManager NavigationManager
@inject SearchService MySearch

<PageTitle>Find My District</PageTitle>

<div class="banner-container">
	<img src="banner2.png" alt="Banner" class="banner-image" />
	<h1 class="page-title"><b>Find My District</b></h1>
</div>

<div class="container">
	<div class="search-address">
		<h4>Street Adress*:</h4>
		<EditForm Model="@userInput" OnValidSubmit="@SearchLocation">
			<DataAnnotationsValidator />
			<ValidationSummary />

			<InputText id="userStreetAddress" @bind-Value="userInput.userStreetAddress" />
			<p></p>
			<h4>Zip Code*:</h4>
			<p></p>
			<InputNumber id=userZipCode @bind-Value="userInput.userZipCode" Step="1" />
			<p></p>
			<button type="submit" class="btn btn-red">Submit</button>
		</EditForm>
	</div>
</div>


<style>
	.banner-container {
		position: relative;
		width: 100%;
		max-width: 100vw;
		height: auto;
		overflow: hidden;
		justify-content: stretch;
		margin-bottom: 40px;
	}

	.banner-image {
		width: 100vw;
		height: auto;
		display: block;
		opacity: 0.3;
	}

	.page-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: black;
		font-size: 5vw;
		z-index: 2;
		text-align: center;
	}

	.container {
		display: flex;
		padding: 2%;
		background-color: #ffd200;
		align-items: flex-start;
		height: 50vh;
		border-radius: 10px;
	}

	.search-address{
	}

</style>
@code {
	private UserAddress userInput = new UserAddress();

	protected override async Task OnInitializedAsync()
	{
		var uri = new Uri(NavigationManager.Uri);
		var queryString = uri.Query;

		if (queryString.Contains("fromHome=true"))
		{
			userInput = MySearch.UserAddress;
        }
    }
	private async Task SearchLocation()
	{
		
	}

}
