@page "/FindMyPollingPlace"
@using ElectionAppLibrary.Models
@using ElectionAppLibrary.DataAccess
@inject LoginService UserLogin
@inject NavigationManager NavigationManager
@inject SearchService MySearch
@inject IVoterInfoAPI info
@inject IUserData _db

<PageTitle>Find My Polling Place</PageTitle>


<div class="banner-container">
	<img src="banner2.png" alt="Banner" class="banner-image" />
	<h1 class="page-title"><b>Find My Polling Place</b></h1>
</div>

<div class="container">
	<div class="search-address">
		<h4>Street Adress*:</h4>
		<EditForm Model="@userInput" OnValidSubmit="@SearchLocation">
			<DataAnnotationsValidator />
			<ValidationSummary />

			<InputText id="userStreetAddress" @bind-Value="userInput.userStreetAddress" />
			<p></p>
			<h4>Zip Code*:</h4>
			<p></p>
			<InputNumber id=userZipCode @bind-Value=userInput.userZipCode />
			<p></p>
			<button type="submit" class="btn btn-red">Submit</button>
		</EditForm>
		@if (UserLogin.User != null && !string.IsNullOrEmpty(UserLogin.User.username))
		{
			<br />
			<button type="button" class="btn btn-red" @onclick="saveInfo">Save Info</button>
		}
	</div>
	<div>
		<iframe width="600"
				height="450"
				style="border:0"
				loading="lazy"
				allowfullscreen
				referrerpolicy="no-referrer-when-downgrade"
				src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDRPOb2Wy4TIGZ2HcSuXLxxuIoNytPGIzE&q=Space+Needle,Seattle+WA">
		</iframe>
	</div>
</div>
<style>

	.container {
		display: flex;
		flex-flow: row wrap;
		padding: 2%;
		background-color: #ffd200;
		align-items: flex-start;
		border-radius: 10px;
	}
	.container > div {
		margin: auto;
	}
	.search-address {
		margin: auto;
	}

</style>
@code {
	private UserAddress userInput = new UserAddress();
	private string? address;
	private CandidateModel? candidate;
	//Placeholder
	private async Task SearchLocation()
	{
		address = $"{userInput.userStreetAddress}, {userInput.userZipCode}";
		candidate = await info.getVoterInfo(address);

	}

	private async void saveInfo()
	{
		if (String.IsNullOrEmpty(address))
		{
			return;
		}
		UserLogin.User.address = address;
		await _db.UpdateAddress(UserLogin.User);
	}

	protected override async Task OnInitializedAsync()
	{

	}

}
