@page "/FindMyPollingPlace"
@using ElectionAppLibrary.Models
@inject NavigationManager NavigationManager
@inject SearchService MySearch

<PageTitle>Find My Polling Place</PageTitle>


<div class="banner-container">
	<img src="banner2.png" alt="Banner" class="banner-image" />
	<h1 class="page-title"><b>Find My Polling Place</b></h1>
</div>

<div class="container">
	<div class="search-address">
		<h4>Street Adress*:</h4>
		<EditForm Model="@userInput" OnValidSubmit="@SearchLocation">
			<DataAnnotationsValidator />
			<ValidationSummary />

			<InputText id="userStreetAddress" @bind-Value="userInput.userStreetAddress" />
			<p></p>
			<h4>Zip Code*:</h4>
			<p></p>
			<InputNumber id=userZipCode @bind-Value=userInput.userZipCode />
			<p></p>
			<button type="submit" class="btn btn-red">Submit</button>
		</EditForm>
	</div>
	<div>
		<iframe width="600"
				height="450"
				style="border:0"
				loading="lazy"
				allowfullscreen
				referrerpolicy="no-referrer-when-downgrade"
				src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDRPOb2Wy4TIGZ2HcSuXLxxuIoNytPGIzE&q=Space+Needle,Seattle+WA">
		</iframe>
	</div>
</div>
<style>

	.container {
		display: flex;
		flex-flow: row wrap;
		padding: 2%;
		background-color: #ffd200;
		align-items: flex-start;
		border-radius: 10px;
	}
	.container > div {
		margin: auto;
	}
	.search-address {
	}

</style>
@code {
	private UserAddress userInput = new UserAddress();
	//Placeholder
	private async Task SearchLocation()
	{
		userInput = new UserAddress();
	}

	protected override async Task OnInitializedAsync()
	{

	}

}
