@page "/"
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


<div class="banner-container">
    <img src="banner2.png" alt="Banner" class="banner-image" />
    <h1 class="page-title"><b>MD Election Home</b></h1>
</div>

<div class="container">

        <div class="about-container">
        <h2>About the Website</h2>
        <p>Welcome to MD Election Home! This website is your one-stop destination for all election-related information in Maryland. 
            Whether you're looking for representatives, district information, or polling places, we've got you covered. 
            Our user-friendly interface makes it easy to navigate and find the information you need.</p>
    </div>

    <div class="login-about-container">
        <div class="login-container">
            <h2>Login</h2>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" @bind="username" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" @bind="password" class="form-control" />
            </div>
            <button class="btn btn-red" @onclick="Login">Login</button>
            <button class="btn btn-black" @onclick="CreateAccount">Create Account</button>
        </div>

        <div class="search-container">
            <div class="search-title">
                <h2>Quick Search:</h2>
            </div>
            <div class="quick-search-content">
                <input type="text" placeholder="Search..." class="search-bar" title="Enter the Candidate's name for Representatives or your address for District and Polling Places" />
                <button class="btn btn-red">Search<br />Representatives</button>
                <button class="btn btn-yellow">Search<br />District</button>
                <button class="btn btn-black">Search<br />Polling Places</button>
            </div>
        </div>
    </div>
</div>



@code {
    private string username;
    private string password;
    private string errorMessage;

    private void Login()
    {

    }

    private void CreateAccount()
    {
        NavigationManager.NavigateTo("Signup");
    }
}