@using ElectionAppLibrary.Models
@inherits LayoutComponentBase
@inject LoginService UserLogin
@inject NavigationManager NavigationManager

<PageTitle>PrestonViadoBlazorApp</PageTitle>

<div class="page">
    <div class="sidebar" style="background-image:none;background-color:dimgrey">
        <NavMenu />
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <br/>
    @if (UserLogin.User != null && UserLogin.User.isActive == true)
    {
        <button type="button" class="btn btn-black" @onclick="Logout">LOGOUT</button>
    }
</div>

@code{
    private void Logout(){
        UserLogin.User = new UserModel();
        UserLogin.User.isActive = false;
        NavigationManager.NavigateTo("/");
    }
}