@* override some nav-link attributes *@
<style>
    .navbar {
        background-color: #333;
        color: white;
        padding: 10px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }

    .nav-link {
        color: white;
    }

        .nav-link:hover,
        .nav-link:focus {
            color: white;
            text-decoration: underline;
        }

    .flex-column {
        position: absolute;
        top: 60px;
        background-color: #333; 
        z-index: 1000; 
        width: 100%; 
    }
</style>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
            <NavLink class="nav-link" href="/">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div>
            <NavLink class="nav-link" href="Login" Match="NavLinkMatch.All">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login/Sign Up
            </NavLink>
        </div>
        <div>
            <NavLink class="nav-link" href="MyRepresentatives" Match="NavLinkMatch.All">
                <span class="oi oi-briefcase" aria-hidden="true"></span> My Representatives
            </NavLink>
        </div>
        <div>
            <NavLink class="nav-link" href="FindMyDistrict" Match="NavLinkMatch.All">
                <span class="oi oi-location" aria-hidden="true"></span> Find My District
            </NavLink>
        </div>
        <div>
            <NavLink class="nav-link" href="FindMyPollingPlace" Match="NavLinkMatch.All">
                <span class="oi oi-signpost" aria-hidden="true"></span> Find My Polling Place
            </NavLink>
        </div>
        <div>
            <NavLink class="nav-link" href="Candidates" Match="NavLinkMatch.All">
                <span class="oi oi-people" aria-hidden="true"></span> Candidates
            </NavLink>
        </div>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ElectionUpdates" Match="NavLinkMatch.All">
                <span class="oi oi-box" aria-hidden="true"></span> Election Updates
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ElectionStatistics" Match="NavLinkMatch.All">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Election Statistics
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BallotMeasures" Match="NavLinkMatch.All">
                <span class="oi oi-graph" aria-hidden="true"></span> Ballot Measures
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ElectionLawsAndGuidelines" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> Election Laws and Guidelines
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}