.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: auto;
    background-color: rgba(0,0,0,0,4); 
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

/* NavMenu.razor.css */

@media (max-width: 768px) {
    .navbar-toggler {
        display: inline-block; /* Make sure toggler is always displayed on small screens */
    }

    .nav-item {
        font-size: 1rem; /* Increase font size for better readability */
        padding: 0.75rem 1rem; /* Increase padding for easier tap targets */
    }
}

.navbar-brand, .oi {
    font-size: 1.4rem; /* Adjust logo and icons size for better visibility */
}

@media (max-width: 768px) {
    .top-row, .navbar-brand, .oi, .nav-item {
        text-align: center; /* Center align items for a cleaner mobile appearance */
    }
}


/*@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
         Never collapse the sidebar for wide screens 
        display: block;
    }

    .nav-scrollable {
         Allow sidebar to scroll for tall menus 
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
/*}*/
